version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: order_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: order_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      # - "5672:5672"
      - "15672:15672"

  api:
    build: .
    command: npm run dev
    env_file:
      - .env.docker
    ports:
      - "3232:3232"
    depends_on:
      - postgres
      - redis
      - rabbitmq

  worker:
    build: .
    command: npm run worker
    env_file:
      - .env.docker
    depends_on:
      - postgres
      - redis
      - rabbitmq
  
  expiry-worker:
    build: .
    command: npm run expiry-worker
    env_file:
      - .env.docker
    depends_on:
      - postgres

  payment-worker:
    build: .
    command: npm run payment-worker
    env_file:
      - .env.docker
    depends_on:
      - postgres
      - rabbitmq


volumes:
  pgdata:
